// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}


/*=======================================*/
/*------ Inhabitent: Custom Styles ------*/
/*=======================================*/
@mixin general-container {
	width: 1120px;
	margin: 0 auto;
}

@mixin default-flex {
	display: flex;
	justify-content: center;
}

@mixin main-button {
	  width: auto;
	  margin-bottom: 20px;
	  padding: 5px 24px;
	  display: inline-block;
	  font-size: 0.9rem;
	  color: $color_text-button;
	  background-color: $color_bg-button;
	  font-family: $font_accent;
	  text-decoration: none;
	  text-transform: uppercase;
	  &:hover {
	    background-color: darken($color_bg-button, 10%);
	  }
}

@mixin form-error {
	font-size: $font_default-size;
	font-family: $font_main;
	text-transform: initial;
}
