/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */

.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		display: flex;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: $base__space-unit;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

// @media screen and (min-width: 37.5em) {
// 	.menu-toggle {
// 		display: none;
// 	}
// 	.main-navigation ul {
// 		display: block;
// 	}
// }

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

/*=======================================*/
/*------ Inhabitent: Custom Styles ------*/
/*=======================================*/

/*------------ Main Nav ----------*/

.site-header{
  width: 100vw;
  background-color:$color_bg-main-nav;
  border-bottom: 1px solid $color_border;
  position: fixed;
	background: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7) );
	z-index: 3;
	h1 {
	  width: 50px;
	  height: 35px;
	  margin: 0;
	  background: url('../../images/logos/inhabitent-logo-tent.svg') no-repeat;
	  background-size: 50px 35px;
	  overflow: hidden;
	  text-indent: 100%; //hides title text by indenting
	  white-space: nowrap; //longer titles will not fall into the next line
	}
	.main-navigation a {
		color: $green;
		&:hover {
			color: $violet;
		}
	}
	::-webkit-input-placeholder {
		color: $medium-gray;
	}
}

.main-nav-container {
	@include general-container;
	padding: 5px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main-navigation{
	width: auto;
	display: flex;
	align-items: center;
  a{
    padding: 0 15px;
    font-family: $font_accent;
    text-transform: uppercase;
  }
}

/* Search Bar */

.search-form {
	fieldset {
		padding: 0;
		border: 0;
	}
	.screen-reader-text {
		display: none;
	}
}

.search-submit {
	margin-right: 4px;
	padding: 0;
	font-size: 0.9rem;
	color: $color_search-icon;
	background: initial;
	border: 0;
	text-shadow: 0 0;
	box-shadow: 0 0;
	&:hover, &:active, &:focus {
		box-shadow: 0 0;
		border: 0;
	}
	&:focus {
		outline-style: none;
	}
}

.main-navigation {
	input.search-field {
	width: auto;
	font-family: $font_accent;
	background: initial;
	border: 0;
	text-transform: uppercase;
	outline-style: none;
	display: none;
	}
}
