/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/*=======================================*/
/*------ Inhabitent: Custom Styles ------*/
/*=======================================*/

/*------------ SHARED PAGES ----------*/
.site-content {
  padding-top: 45px;
}

/*------------ FRONT PAGE ----------*/

.home .site-content {
  padding-top: 0;
}

.hero-container {
  height: 100vh;
  margin-bottom: 50px;
  background:
  linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
    url("../../images/hero-images/home-hero.jpg") no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home h1 {
  font-size: 35px;
  color: $color_text-heading;
  font-weight: normal;
  font-family: $font_accent;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.shop-container {
  text-align: center;
  margin-bottom: 60px;
}

.shop-cta {
  @include general-container;
  height: auto;
  line-height: $base_line-height;
  display: flex;
  justify-content: space-between;
  img {
    width: 70px;
  }
  div {
    width: 25%;
    margin: 5px;
    padding: 25px 15px 10px;
    border-top-width: 2px;
    border: 1px $color_border solid;
    border-top-width: thick;
    &:hover {
      border-color: $color_border-shop-hover;
    }
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  a {
    width: auto;
    margin-bottom: 20px;
    padding: 5px 24px;
    display: inline-block;
    font-size: 0.9rem;
    color: $color_text-button;
    background-color: $color_bg-button;
    font-family: $font_accent;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
      background-color: darken($color_bg-button, 10%);
    }
  }
}

/*------------ Front Page: Featured Entries ----------*/
.entries-container {
  @include general-container;
  margin: 60px auto;
  display: flex;
  justify-content: space-between;
  .entry-box{
    width: 32%;
    height: auto;
    border: 1px solid $color_border;
    .entry-thumbnail {
      width: 100%;
      max-height: 600px;
      background-color: $color_border;
    }
    .entry-info {
      padding: 25px 15px;
      font-size: 0.7rem;
      h4 {
        a {
          color: $color_link-featured-entries-title;
          font-size: 1.3rem;
          font-family: $font_accent;
          text-decoration: none;
          text-transform: uppercase;
          letter-spacing: 0.1rem;
          line-height: 1.6rem;
          &:hover {
            color: $color_link-featured-entries-title-hover;
          }
        }
      }
      > a {
        padding: 10px 20px;
        font-size: 14px;
        color: $color_link-featured-entries-cta;
        font-family: $font_accent;
        border: 1px solid $color_bg-featured-entries-cta;
        text-transform: uppercase;
        text-decoration: none;
        &:hover {
          color: $color_link-featured-entries-cta-hover;
          background-color: $color_bg-button;
          border: 0;
        }
      }
    } //end entry-info
  } //end entry-box
} //end entries-container

/*------------ BLOG ----------*/

.blog {
  .site-content {
    @include general-container;
    @include default-flex;
  .content-area {
    width: 70%;
    border-right: 1px solid $color_border;
  }
  .widget-area {
    width: 30%;
  }
  }
}

.entry-title {
  font-size: 2rem;
  font-family: $font_accent;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  a {
    padding: 10px;
    color: $color_link-entry-title;
    background-color: $color_bg-entry-title;
    text-decoration: none;
    &:hover {
      color: $color_link-entry-title-hover;
    }
  }
}

/*------------ ABOUT ----------*/

/*------------ ARCHIVE - PRODUCT PAGE ----------*/
.product-page-container {
  @include general-container;
  margin: 0 auto;
  text-align: center;
}
