/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/*=======================================*/
/*------ Inhabitent: Custom Styles ------*/
/*=======================================*/

/*------------ FRONT PAGE ----------*/

.hero-container {
  height: 100vh;
  margin-bottom: 50px;
  background:
  linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
    url("../../images/hero-images/home-hero.jpg") no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home h1 {
  font-size: 35px;
  color: $color_text-heading;
  font-weight: normal;
  font-family: $font_accent;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.shop-container {
  text-align: center;
  margin-bottom: 60px;
}

.shop-cta {
  @include general-container;
  height: auto;
  line-height: $base_line-height;
  @include default-flex;
  img {
    width: 70px;
  }
  div {
    width: 25%;
    margin: 5px;
    padding: 25px 15px;
    border-top-width: 2px;
    border: 1px $color_border solid;
    border-top-width: thick;
    &:hover {
      border-color: $color_border-shop-hover;
    }
  }
  a {
    width: auto;
    padding: 10px 20px;
    color: $color_text-button;
    background-color: $color_bg-button;
    font-family: $font_accent;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
      background-color: darken($color_bg-button, 10%);
    }
  }
}

/*------------ Front Page: Featured Entries ----------*/
.entries-container {
  @include general-container;
  margin: 60px auto;
  display: flex;
  justify-content: space-between;
  div {
    width: 32%;
    height: auto;
    padding: 30px 10px;
    border: 1px solid $color_border;
    p {
      font-size: 12px;
    }
    .title {
      color: $color_link-featured-entries-title;
      font-size: 1.4rem;
      font-family: $font_accent;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      line-height: 1rem;
      &:hover {
        color: $color_link-featured-entries-title-hover;
      }
    }
    > a {
      padding: 10px 20px;
      font-size: 14px;
      color: $color_link-featured-entries-cta;
      border: 1px solid $color_bg-featured-entries-cta;
      font-family: $font_accent;
      text-transform: uppercase;
      text-decoration: none;
      &:hover {
        color: $color_link-featured-entries-cta-hover;
        background-color: $color_bg-button;
        border: 0;
      }
    }
  }
}

/*------------ BLOG ----------*/

.blog {
  .site-content {
    @include general-container;
  }
}

.entry-title {
  font-size: 2rem;
  font-family: $font_accent;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  a {
    padding: 10px;
    color: $color_link-entry-title;
    background-color: $color_bg-entry-title;
    text-decoration: none;
    &:hover {
      color: $color_link-entry-title-hover;
    }
  }
}
