/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/*=======================================*/
/*------ Inhabitent: Custom Styles ------*/
/*=======================================*/

/*------------ Front page ----------*/
.site-header {
  width: 100vw;
  background-color:$color_background;
  border-bottom: 1px solid $color_border;
  position: fixed;
  opacity: 0.7;
}

.site-header h1 {
  width: 50px;
  height: 35px;
  margin: 0;
  background: url('../../images/logos/inhabitent-logo-tent.svg') no-repeat;
  background-size: 50px 35px;
  overflow: hidden;
  text-indent: 100%; //hides title text by indenting
  white-space: nowrap; //longer titles will not fall into the next line
}

.hero-container {
  height: 100vh;
  background:
  linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
    url("../../images/hero-images/home-hero.jpg") no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home h1 {
  font-size: 35px;
  color: $color_heading;
  font-weight: normal;
  font-family: $font_accent;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.shop-container{
  text-align: center;
}

.shop-cta {
  @include general-container;
  height: auto;
  line-height: $base_line-height;
  @include default-flex;
  img {
    width: 70px;
  }
  div {
    width: 25%;
    margin: 5px;
    padding: 15px;
    border: 1px solid $color_border;
  }
  a {
    width: auto;
    padding: 10px 20px;
    color: $color_text-link;
    background-color: $color_accent-background;
    font-family: $font_accent;
    text-decoration: none;
    text-transform: uppercase;
  }
}
